<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            QuotaX
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="duanDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dự án
                    </a>
                    <div class="dropdown-menu" aria-labelledby="duanDropdown">
                        <a class="dropdown-item" href="#">Dự án 1</a>
                        <a class="dropdown-item" href="#">Dự án 2</a>
                        <a class="dropdown-item" href="#">Dự án 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="baogiaDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Báo giá
                    </a>
                    <div class="dropdown-menu" aria-labelledby="baogiaDropdown">
                        <a class="dropdown-item" href="#">Báo giá 1</a>
                        <a class="dropdown-item" href="#">Báo giá 2</a>
                        <a class="dropdown-item" href="#">Báo giá 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>