.blog-container {
  .title {
    text-align: left;
    margin: 10px;
    font-size: 25px;
  }

  /* Trong file CSS hoặc tệp style của bạn */

  .ul-blog {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 60px;
    padding-bottom: 0;
  }

  .li-post {
    width: calc(
      25% - 10px
    ); /* 25% width for each li, considering 10px margin */
    margin-bottom: 100px; /* Adjust the margin-bottom based on your preference */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  .li-post > div {
    border: 1px solid #ffffff; /* Optional: Add a border around each li */
    padding: 10px; /* Optional: Add padding around each li */
  }

  /* Optional: Add styling for links and images */
  .li-post a {
    text-decoration: none;
    color: #333;
  }

  .li-post img {
    width: 75%; /* Make the image fill the container */
    height: auto; /* Maintain the aspect ratio of the image */
    border-radius: 5px; /* Optional: Add rounded corners to the image */
  }
  .blog-title {
    font-size: 20px;
    font-weight: bolder;
    &:hover {
      color: #2980b9;
      text-decoration: #8dc4e9;
    }
  }
}
/**/ /* Pagination container */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-bottom: 50px; /* Đẩy lên trên 100px */
}

/* Pagination item */
.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: 1px solid #3498db;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

/* Hover effect */
.pagination button:hover {
  background-color: #2980b9;
}

/* Active page style */
.pagination button.active {
  background-color: #2980b9;
}
/* CSS cho BlogDetail.js */

.blog-detail-container {
  max-width: 800px;
  margin: 20px 0 20px 20px; /* Đưa container về phía trái */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.blog-detail-img {
  max-width: 50%; /* Giảm kích thước hình ảnh */
  height: auto;
  display: block;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-detail-excerpt {
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
}
.blog-detail-title {
  font-size: 40px;
  text-align: left;
  color: #e74c3c;
}
.blog-detail-date {
  font-size: 30px;
  text-align: left;
  color: #e74c3c;
}
