.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 80px;
}

.about-content {
  max-width: 800px;
  padding: 20px;
}

.about-content h1 {
  font-size: 36px;
  font-weight: bold;
  color: rgb(193, 46, 46);
}

.about-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(193, 46, 46);
  margin-top: 20px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-top: 10px;
}

/* Responsive CSS */
@media (max-width: 768px) {
  .about-content {
    padding: 10px;
  }

  .about-content h1 {
    font-size: 28px;
  }

  .about-content h2 {
    font-size: 20px;
  }

  .about-content p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .about-content {
    padding: 5px;
  }

  .about-content h1 {
    font-size: 24px;
  }

  .about-content h2 {
    font-size: 18px;
  }

  .about-content p {
    font-size: 14px;
  }
}
