/* styles.css */

.review-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.list-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Chỉnh sửa độ cao video và review */
}

.video-container {
  flex: 0 0 50%; /* Độ rộng của video (30% của toàn bộ khung) */
}

.list-container {
  flex: 0 0 50%; /* Độ rộng của review (65% của toàn bộ khung) */
  padding-left: 20px; /* Khoảng cách giữa review và video */
}

.video-container h1 {
  margin-top: 20px; /* Khoảng cách giữa tiêu đề và phần trên cùng của khung */
  color: orange;
}
