.user-manage-container {
  margin: 20px;
}

.user-manage-heading {
  font-size: 40px;
  margin-bottom: 10px;
  color: #c82333;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-row:nth-child(even) {
  background-color: #f2f2f2;
}

.user-row:hover {
  background-color: #ddd;
}

.user-cell {
  max-width: 150px; /* Limit the width of cells to 150px */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Định dạng nút chỉnh sửa và xóa */
.btn-primary {
  display: inline-block;
  padding: 8px 16px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:active {
  background-color: #0056b3;
  border-color: #0056b3;
  box-shadow: none;
}

.btn-danger {
  display: inline-block;
  padding: 8px 16px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #dc3545;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.btn-danger:hover {
  background-color: #4c1016;
  border-color: #c82333;
}

.btn-danger:active {
  background-color: #c82333;
  border-color: #c82333;
  box-shadow: none;
}
